.oi-column {
  width: 50%;
  float: left;
}

.oi-field {
  /*float: left;*/
  width: 100%;
  margin-bottom: 5px;
}

.oi-field-label {
  min-width: 145px;
  float: left;
  margin-bottom: 5px;
  /* font-size: 14px; */
}

.oi-field-input {
  float: left;
}

.oi-field-input textarea {
  width: 100%;
  box-sizing: border-box;
}

.oi-form-container {
  background-color: #efefef;
  padding: 10px;
}

.oi-form-container table {
  margin-top: 10px !important;
}

.oi-form-container table th {
  font-family: NovecentowideNormalRegular;
  font-weight: normal;
}

.oi-form-part {
  padding-bottom: 10px;
  border-bottom: 1px solid #d4d4d4;
  margin-bottom: 10px;
}

.oi-field-checkbox {
  margin-top: 5px;
  float: left;
  min-width: 90px;
  margin-right: 10px;
}

.oi-field-radio-text {
  margin-right: 10px;
}

.oi-field-input input[type="radio"] {
  position: relative;
  top: 2px;
}

.sponsor-button {
  background-color: rgb(54, 54, 54) !important;
  color: white !important;
  display: inline-block;
  padding: 4px 12px;
  border-radius: 5px;
  text-decoration: none !important;
}

.sponsor-button:hover {
  background-color: rgb(82, 82, 82) !important;
}