.oitable tr td {
  border: 1px solid black;
  padding: 1px;
}

.intake-form span {
  min-width: 100px;
  display: inline-block;
}

.intake-form .intake-links a:before {
  content: none;
}

.intake-count a:before,
.intake-span:before,
.intake-gender a:before {
  font: normal 20px/1 "dashicons";
  speak: none;
  display: block;
  float: left;
  margin: 0 5px 0 0;
  padding: 0;
  text-indent: 0;
  text-align: center;
  position: relative;
  -webkit-font-smoothing: antialiased;
  text-decoration: none !important;
}

.intake-count a:before,
.intake-count .intake-span:before {
  content: "\f307";
}

.intake-gender a:before,
.intake-gender .intake-span:before {
  content: "\f110";
}

.intake-range a:before,
.intake-range .intake-span:before {
  content: "\f145";
}

.intake-textbox-wrapper {
  display: none;
}

.intake-textbox {
  height: 300px;
}

.intake-form input {
  width: 100px;
}

.leden-field-label {
  width: 160px;
  float: left;
}

.leden-field-input {
  margin-left: 170px;
}

.leden-field-input input {
  width: 100%;
}

.leden-field-input input.datepicker {
  width: 80%;
}

.leden-field-input button {
  content: "\f508";
}

.leden-field {
  width: 100%;
  height: auto;
}

.dashicons-green {
  color: green;
}

.dashicons-yellow {
  color: #cccc00;
}